* {
  box-sizing: border-box;
  font-family: system-ui;
}
.bg {
  background-color: #0f0f0f98;
  height: max-content;
}
body {
  height: 100vh;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgb(0, 0, 0),
    rgb(105, 105, 83),
    rgb(46, 42, 26),
    rgb(37, 36, 36),
    rgb(41, 39, 39),
    rgb(52, 49, 49)
  );
  background-size: 1400% 1400%;
  animation: rgbFlow 20s ease infinite;
}

@keyframes rgbFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #181818;
  color: white;
}

.header h1 {
  font-size: 50px;
  color: white;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #0f0f0f;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;

  padding-left: 20px;
}

/* Fake image */

.fakeimg {
  background-color: #0f0f0f;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;

  margin: 0 auto;
}

.fakeimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Add a card effect for articles */

.card {
  place-items: center;
  background-color: #0f0f0f98;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 20px;
  width: auto;
  border-radius: 16px;
}
.card-content {
  place-items: center;
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.item-center {
  place-items: center;
}
.item-center h1 {
  margin-bottom: 32px;
  text-align: center;
}
.projects-section {
  place-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
.projects-section img,
.projects-section h1 {
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
}
.projects-section iframe {
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
}
.text {
  color: white;
  text-align: justify;
}
.text-title {
  color: white;
  font-weight: bolder;
  text-align: center;
}
.text-section {
  color: white;
  text-align: justify;
  font-size: medium;
  width: 100%;
  padding: 32px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #0f0f0f;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  background-color: #0f0f0f98;
  border-radius: 5px;
  padding: 20px;
}
.form-button {
  display: grid;
  place-items: center;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color: #f44336;
} /* Red */
.error {
  color: red;
}
textarea {
  width: 100%; /* se adapta al ancho del contenedor */
  max-width: 100%; /* no se pasa del contenedor */
  height: 150px; /* altura fija o la que necesites */
  overflow: auto; /* muestra scroll si es necesario */
  resize: vertical; /* solo permite redimensionar verticalmente */
  box-sizing: border-box; /* incluye padding en el tamaño */
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
}
.form {
  align-items: center;
  display: flex;
  justify-content: center;
}
